<div class="ossn-wall-container">
    <form action="https://demo.opensource-socialnetwork.org/action/wall/post/g" id="ossn-wall-form" class="ossn-form"
          method="post" enctype="multipart/form-data">
        <fieldset><input type="hidden" name="ossn_ts" value="1646560773">
            <input type="hidden" name="ossn_token"
                   value="f656868dfad9c24c420e276a19aaf482d81b677da818631bce4d1edd566ee157">
            <div class="tabs-input">
                <div class="wall-tabs">
                    <li class="item ossn-wall-container-menu-post" data-name="post"><i
                        class="fa fa-bullhorn"><span>Post</span></i></li>
                </div>
            </div>
            <div class="ossn-wall-container-data ossn-wall-container-data-post" data-type="post">
                <textarea placeholder="What's on your mind?" name="post"></textarea>
                <div id="ossn-wall-postbg" style="display:none;"><span class="" data-postbg-type="pbg1"
                                                                       style="background:url('https://demo.opensource-socialnetwork.org/components/OssnPostBackground/images/1.jpg'"
                                                                       ;background-position:="" center;=""
                                                                       background-size:="" cover;"=""></span><span
                    class="" data-postbg-type="pbg2"
                    style="background:url('https://demo.opensource-socialnetwork.org/components/OssnPostBackground/images/2.jpg'"
                    ;background-position:="" center;="" background-size:="" cover;"=""></span><span class=""
                                                                                                    data-postbg-type="pbg3"
                                                                                                    style="background:url('https://demo.opensource-socialnetwork.org/components/OssnPostBackground/images/3.jpg'"
                                                                                                    ;background-position:=""
                                                                                                    center;=""
                                                                                                    background-size:=""
                                                                                                    cover;"=""></span>
                    <span class="" data-postbg-type="pbg4"
                          style="background:url('https://demo.opensource-socialnetwork.org/components/OssnPostBackground/images/4.jpg'"
                          ;background-position:="" center;="" background-size:="" cover;"=""></span><span class=""
                                                                                                          data-postbg-type="pbg5"
                                                                                                          style="background:url('https://demo.opensource-socialnetwork.org/components/OssnPostBackground/images/5.jpg'"
                                                                                                          ;background-position:=""
                                                                                                          center;=""
                                                                                                          background-size:=""
                                                                                                          cover;"=""></span>
                    <span class="" data-postbg-type="pbg6"
                          style="background:url('https://demo.opensource-socialnetwork.org/components/OssnPostBackground/images/6.jpg'"
                          ;background-position:="" center;="" background-size:="" cover;"=""></span><span class=""
                                                                                                          data-postbg-type="pbg7"
                                                                                                          style="background:url('https://demo.opensource-socialnetwork.org/components/OssnPostBackground/images/7.jpg'"
                                                                                                          ;background-position:=""
                                                                                                          center;=""
                                                                                                          background-size:=""
                                                                                                          cover;"=""></span>
                    <span class="" data-postbg-type="pbg8"
                          style="background:url('https://demo.opensource-socialnetwork.org/components/OssnPostBackground/images/8.jpg'"
                          ;background-position:="" center;="" background-size:="" cover;"=""></span><span class=""
                                                                                                          data-postbg-type="pbg9"
                                                                                                          style="background:url('https://demo.opensource-socialnetwork.org/components/OssnPostBackground/images/9.jpg'"
                                                                                                          ;background-position:=""
                                                                                                          center;=""
                                                                                                          background-size:=""
                                                                                                          cover;"=""></span>
                    <span class="" data-postbg-type="pbg10"
                          style="background:url('https://demo.opensource-socialnetwork.org/components/OssnPostBackground/images/10.jpg'"
                          ;background-position:="" center;="" background-size:="" cover;"=""></span><span class=""
                                                                                                          data-postbg-type="pbg11"
                                                                                                          style="background:url('https://demo.opensource-socialnetwork.org/components/OssnPostBackground/images/11.jpg'"
                                                                                                          ;background-position:=""
                                                                                                          center;=""
                                                                                                          background-size:=""
                                                                                                          cover;"=""></span>
                </div>
                <div id="ossn-wall-location" style="display:none;">
        <span class="algolia-places" style="position: relative; display: inline-block; direction: ltr;"><input
            type="text" placeholder="Enter Location" name="location" id="ossn-wall-location-input" class="ap-input"
            autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="both" aria-expanded="false"
            aria-owns="algolia-places-listbox-0" dir="auto" style="position: relative; vertical-align: top;"><pre
            aria-hidden="true"
            style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;PT Sans&quot;, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, NotoColorEmoji, &quot;Segoe UI Symbol&quot;, &quot;Android Emoji&quot;, EmojiSymbols; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: normal; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span
            class="ap-dropdown-menu" role="listbox" id="algolia-places-listbox-0"
            style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;"><div
            class="ap-dataset-places"></div></span><button type="button" aria-label="clear"
                                                           class="ap-input-icon ap-icon-clear" style="display: none;"><svg
            width="12" height="12" viewBox="0 0 12 12" xmlns="http://www.w3.org/2000/svg"><path
            d="M.566 1.698L0 1.13 1.132 0l.565.566L6 4.868 10.302.566 10.868 0 12 1.132l-.566.565L7.132 6l4.302 4.3.566.568L10.868 12l-.565-.566L6 7.132l-4.3 4.302L1.13 12 0 10.868l.566-.565L4.868 6 .566 1.698z"></path></svg>
</button><button type="button" aria-label="focus" class="ap-input-icon ap-icon-pin"><svg
            xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 14 20"><path
            d="M7 0C3.13 0 0 3.13 0 7c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5C5.62 9.5 4.5 8.38 4.5 7S5.62 4.5 7 4.5 9.5 5.62 9.5 7 8.38 9.5 7 9.5z"></path></svg>
</button></span>
                </div>
                <div id="ossn-wall-photo" style="display:none;">
                    <input type="file" name="ossn_photo">
                </div>
                <div class="controls">
                    <li class="ossn-wall-location ossn-wall-container-control-menu-location"><i
                        class="fa fa-map-marker-alt"></i></li>
                    <li class="ossn-wall-photo ossn-wall-container-control-menu-photo"><i class="fa fa-image"></i></li>
                    <li class=" ossn-wall-container-control-menu-emojii-selector"><i class="fa fa-smile"></i></li>
                    <li class=" ossn-wall-container-control-menu-postbg-selector"><i class="fa fa-paint-brush"></i></li>

                </div>
                <div class="ossn-wall-post-button-container">
                    <div class="ossn-loading ossn-hidden"></div>
                    <input class="btn btn-primary ossn-wall-post" type="submit" value="Post">
                </div>
                <div class="ossn-wall-privacy-dummy">
                    <span title="Everyone can see this group and its posts. Only members can post to this group."><i
                        class="ossn-wall-privacy-lock fa fa-lock"></i><span class="">Public</span></span>

                </div>
                <input type="hidden" value="33" name="wallowner">
            </div>
        </fieldset>
        <input class="postbg-input" name="postbackground_type" type="hidden"></form>
</div>
